<html>
    
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div align="center" class="container">
            <input type="text" placeholder="Inserisci l'username."><br />
            <input type="text" placeholder="Inserisci la password."><br />
            <button>Accedi</button>
        </div>
    <script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>